{% extends 'base.html' %}
{% import 'macros.html' as macro %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pitch</title>
</head>

<body>
    {% block styles %}

      {{super()}}
      <link rel="stylesheet" href="{{url_for('static, filename='css/index.css')}}">
      
    {% endblock %}

    {% block content %}

    <h1>Pitch Perfect</h1>
    {{ pitches }}

    {% endblock %}
</body>
</html>