{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}

    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
      
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/app/particles.js">particlesJS("particles-js",<strong>particlesjs-config.json</strong>);</script>
    <title>Pitch</title>
</head>

<body>
    
    <div id="particles-js">
        <h1 class="text-white">Pitch Perfect</h1>
        <hr>
        <h2>{{ message }}</h2>
        {{macro.displayPitches(pitches)}}
    </div>

    <script type="text/javascript">
        particlesJS("particles-js",<strong>particlesjs-config.json</strong>);
       </script>
</body>
</html>
{% endblock %}