{% extends 'base.html'%}
{% block content %}

<div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well pitch-well">
        <li class="text-center">
            <h2>{{pitch.title}}</h2>
            <h2>{{pitch.body}}</h2>
            <a href ="/pitch_review/{{pitches.id}}?upvotes=1">Like: {{pitch.upvotes}}</a>
            <a href ="/pitch_review/{{pitches.id}}?downvotes=1">Dislike: {{pitches.downvotes}}</a>
        </li>
    </div>
    <div class="col-md-2 col-lg-2">
    </div>
 </div>
 {% endblock %}